body,h1,h2,h3,ul,li{
    margin: 5;
    padding: 5;
}/*h1,h2 and so on are not mandatory for colors its our wish*/
h1{
    color: rgb(39, 5, 162);
}
body{
    background-color: peachpuff;
}
body{
    font-family: 'Courier New', Courier, monospace;
}